h1 {
  color: #694E4E;
  text-align: center;
}
h2 {
  color: #632626;
}
h3 {
  color: #694E4E;
}
table {
  text-align: center;
}
img {
  height: 150px;
}
th{
  border: 1px double;
  border-color: #886F6F;
  border-width: 5px;
}
td {
  align-self: center;
  border: 1px double;
  border-color: #886F6F;
  border-width: 5px;
  padding: 20px;
}
body {
  background-color: #F9E4D4;
}
p {
  color: #694E4E;
}
